.parallax-about {
  background-image: url('../assets/grain-disk.jpg');
  height:50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
#start-desc{
   justify-content: center;
    margin-top: 5vh; 
    height: 60vh;
}
#start-desc h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-align: center;
}

#start-desc p {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  text-align: center;
  font-weight: 300;
}