#start-cont{
    width: 100vw;
}

#start-text{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
#start-text  p{
    font-size: 2vw;
    font-weight: 200;
    letter-spacing: 5px;
    animation: fadeSlideUp 1.5s ease-out forwards;
    opacity: 0;
}

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.parallax {
  background-image: url('../assets/landing-disk.jpg');
  height:70vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#grain-disk{
    width: 100%;
 
}
