#main-page{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFFCF4;
    overflow-x: hidden;
}
#all-vinyls {
  width: 70%;
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
}
#pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top:1rem;
  overflow-x: hidden;
  background-color: #FFFCF4;

}

#pagination-controls button {
  padding: 0.5rem 1.2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#pagination-controls button:hover:enabled {
  background-color: #333;
}

#pagination-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#filters {
 width: 30%;
  padding: 1rem;
  padding-left: 1.5rem;
  box-sizing: border-box; 
   position: relative;
  background-color: #fff8ed;
  color:white;
   overflow: hidden;
  
}
#filter-content{
  position: relative;
  z-index: 2;
}
#filter-img{
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  z-index: 1;
  pointer-events: none;
}
#filters summary, #filters p{
    font-size: 1.5vw;
    padding-top: 1rem;
    font-weight: 100;
    border-bottom: 2px solid white;
    margin-bottom: 1rem;
    z-index: 2;
}
#filters > div {
  margin-bottom: 1.5rem;
}
#filters label {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  cursor: pointer;
  font-size: 0.95rem;
  font-family: "Inconsolata", monospace !important;
  gap: 0.5rem;
  padding: 0.3rem 0.4rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  color: #E49052;
  z-index: 2;
}
#filters button{
  margin-top: 1rem;
  padding: 0.5rem;
   border: none;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.1s ease, background-color 0.1s ease;
  box-shadow: 0.25rem 0.25rem 0 white;
}
#filters button:active{
     transform: translate(0.125rem,0.125rem);
      box-shadow: 0.125rem 0.125rem 0 white;
}
#filters input[type="checkbox"] {
  accent-color: #E49052; 
  width: 16px;
  height: 16px;
}
#sale-banner {
  background: #ff4c4c;
  color: white;
  font-weight: 200;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem 0;
  letter-spacing: 1.5px;
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 1rem;
}
#sale-banner p, #sale-banner span{
  overflow: hidden;
  white-space: nowrap; 
  transform: translateX(-100%);
  animation: slideIn 1s ease forwards, floatLeftRight 3s ease-in-out 1s infinite alternate;
  margin: 0;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

@keyframes floatLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}